@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact Page</h1>
    
    <form>
        <input type="text" placeholder="Typ je bericht" name="message" />
        <button asp-action="Send">Verstuur</button>
    </form>
</div>
