@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <!--Name and picture-->
    <section class="personalia">

        <img class="person-logo" src="images/Profielfoto.png">
        <h1 class="person-name">Desley Oord</h1>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Vaardigheden</h3>
            <hr>
        </div>

        <div class="profile-content__element">
            <div class="profile-content__list--item">
                <ul>
                    <li>C# | Java | PHP | MySQL | Git | HTML | Game & Software development | Virtual & Augmented reality</li>
                    <li>Nederlands, Engels, Duits</li>
                </ul>
            </div>
        </div>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Eigenschappen</h3>
            <hr>
        </div>

        <div class="profile-content__element">
            <div class="profile-content__list--item">
                <ul>
                    <li>Diverse kennis van programmeertalen</li>
                    <li>Punctualiteit</li>
                    <li>Snelle leerling</li>
                </ul>
            </div>
        </div>

    </section>

    <!--Information-->
    <section class="profile">

        <section class="profile-content">

            <!--Profile-->
            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als afgestudeerde game developer en aspirerende ICT'er,
                    ben ik bekwaam op het gebied van game en software development.
                <p>
            </div>

            <!--Work experience-->
            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Uitzendkracht</h4>
                    <p class="profile-content__period">mei 2023 - sep 2023</p>
                </div>
                <p class="profile-content__institute">Actief Werkt!, Nunspeet</p>
                <div class="profile-content__list--item">
                    <ul>
                        <li>Werkte als uitzendkracht bij een warenhuis.</li>
                    </ul>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Software ontwikkelaar, stagiair</h4>
                    <p class="profile-content__period">aug 2022 - feb 2023</p>
                </div>
                <p class="profile-content__institute">VR Owl, Utrecht</p>
                <div class="profile-content__list--item">
                    <ul>
                        <li>Co-ontwikkelde een virtual reality video speler voor een ander bedrijf. 
                            <a href="https://www.vrowl.nl/maya-vr-vr-app-cms/" target="_blank">Meer informatie</a>
                        </li>
                        <li>Ontwikkelde een unity editor tool die van elke folder een package kan maken.</li>
                    </ul>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Software ontwikkelaar, stagiair</h4>
                    <p class="profile-content__period">feb 2022 - jul 2022</p>
                </div>
                <p class="profile-content__institute">XR Lab, Hilversum</p>
                <div class="profile-content__list--item">
                    <ul>
                        <li>Co-ontwikkelde een virtual reality ervaring voor Vrij Paleis 2022.
                            <a href="https://www.xr-lab.nl/portfolio/items/vrij-paleis-breitner-academie-2022" target="_blank">Meer informatie</a>
                        </li>
                        <li>Co-ontwikkelde een augmented reality ervaring voor Cinekid 2022.
                            <a href="https://www.xr-lab.nl/portfolio/items/deep-blue-cinekid-2022" target="_blank">Meer informatie</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Lijn kok</h4>
                    <p class="profile-content__period">mei 2019 - jan 2022</p>
                </div>
                <p class="profile-content__institute">Gasterij de Kromsteert, Nunspeet</p>
                <div class="profile-content__list--item">
                    <ul>
                        <li>De keuken gereed maken voor bediening, en de keuken schoonmaken achteraf.</li>
                        <li>De chef-kok assisteren tijdens de bediening.</li>
                        <li>Assisteerde beide partijen tijdens de eigendomsoverdracht van het restaurant.</li>
                    </ul>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Vakkenvuller</h4>
                    <p class="profile-content__period">apr 2018 - mei 2019</p>
                </div>
                <p class="profile-content__institute">Boni Supermarkt, Elburg</p>
                <div class="profile-content__list--item">
                    <ul>
                        <li>Vakken vullen, schoonmaken en klanten helpen.</li>
                    </ul>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Uitzendkracht</h4>
                    <p class="profile-content__period">jul 2018 - sep 2018</p>
                </div>
                <p class="profile-content__institute">Actief Werkt!, Nunspeet</p>
                <div class="profile-content__list--item">
                    <ul>
                        <li>Werkte als uitzendkracht bij een distributiecentrum.</li>
                    </ul>
                </div>
            </div>

            <!--Education-->
            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Educatie</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Game Developer, MBO niv. 4</h4>
                    <p class="profile-content__period">2019 - 2023</p>
                </div>
                <p class="profile-content__institute">Deltion College, Zwolle</p>
                <div class="profile-content__list--item">
                    <ul>
                        <li>Ontwikkelde 6 videospellen, waarvan 4 het hoogst haalbare cijfer ontvingen.</li>
                    </ul>
                </div>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">VMBO-T</h4>
                    <p class="profile-content__period">2015 - 2019</p>
                </div>
                <p class="profile-content__institute">Van Kinsbergen College, Elburg</p>
            </div>
        </section>

    </section>
</div>
